[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
black = "*"
moviepy = "*"
pymongo = "*"
flask = "*"
opencv-python = "*"
fer = "*"

[dev-packages]

[requires]
python_version = "3.10"
