<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Webcam Feed is stupid</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="vid">
    <video  autoplay muted loop>
        <source src="static/vid1.mp4" type="video/mp4">
    </video> 
  </div>
<div class ="contain" id="boxes">

  <h1>Webcam Feed</h1>
  
  <video class="box" id="video" width="640" height="480" autoplay></video>
  

  <div class="box">
    <h3>Second Box</h3>
    <p>Content goes here...</p>
  </div>
</div>
<button id="startBtn">Start Webcam</button>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>