<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Webcam Feed is stupid</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="vid">
    <video  autoplay muted loop>
        <source src="static/vid1.mp4" type="video/mp4">
    </video> 
  </div>
<div class ="contain" id="boxes">

  <h1>Webcam Feed</h1>
  
  <video id="video" autoplay playsinline width="640" height="480"></video>

  

  <div class="box">
    <h3>Second Box</h3>
    <span id="emojiDisplay" style="font-size: 2rem;">{{ emoji }}</span>
  </div>
</div>
<div class="emotions" id="Username">
  <p>Welcome, <strong>{{ current_user.username }}</strong>!</p>
</div>

    <div class="displays">
  
        <div class="box">
          <h1>Detected Emotion</h1>
          <span id="emojiDisplay" style="font-size: 2rem;">{{ emoji }}</span>
        </div>
      </div> <!--Webcam Container-->
    </div> <!--Homepage Container-->


    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
  </body>
</html>
