<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Emotion Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='track-styles.css') }}">
    </head>

    <body>
        <nav class="navbar">
            <a href="{{ url_for('index') }}" class="{{ 'active' if request.endpoint == 'index' else '' }}">Webcam</a>
            <a href="{{ url_for('track') }}" class="{{ 'active' if request.endpoint == 'track' else '' }}">Emotion Tracker</a>
        </nav>

        <h1>Emotion Summary for <span class="username">{{ current_user.username }}</span></h1>

        <div class="tracker-container">            
            <div class="emotion-grid">              
              <!-- Table to display emotions and their counts -->
              <table>
                <thead>
                  <tr>
                    <th>Emotion</th>
                    <th>Count</th>
                  </tr>
                </thead>
                <tbody>
                  {% for emotion, count in emotion_summary.items() %}
                    <tr>
                      <td>{{ emotion.capitalize() }}</td>
                      <td>{{ count }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>        
            </div>
          
          </div>          
        
    </body>
</html>